@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>in a brand new E-library. The purpose of this website is to have an impression that you have books that you do not posses. It also shows the time on the website's server, which is: </p>
    <p> @DateTime.Now</p>
</div>
